<!DOCTYPE html>
<html lang="en">
<head>
<title>this is new title </title>
    <link
        href="//fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/static/css/style-starter.css">
</head>
<body>
	  <!--header-->
      <header id="site-header" class="fixed-top">
        <div class="container">
            <nav class="navbar navbar-expand-lg stroke px-0">
                <h1>
                    <a class="navbar-brand" href="index.html">
                        <i class="fab fa-mastodon"></i>arket<span>place</span>
                    </a>
                </h1>
                <!-- if logo is image enable this   
    <a class="navbar-brand" href="#index.html">
        <img src="image-path" alt="Your logo" title="Your logo" style="height:35px;" />
    </a> -->
                <button class="navbar-toggler  collapsed bg-gradient" type="button" data-toggle="collapse"
                    data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon fa icon-expand fa-bars"></span>
                    <span class="navbar-toggler-icon fa icon-close fa-times"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                    <ul class="navbar-nav ml-lg-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="index.html">Home <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{url_for('about')}}">About Us</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="services.html">Services</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="contact.html">Contact Us</a>
                        </li>
                        <!-- search button -->
                        <div class="search-right ml-xl-3 ml-1 mr-xl-1">
                            <form action="#error" method="GET" class="search-box position-relative">
                                <input type="search" placeholder="Enter Keyword" name="search" required="required"
                                    autofocus="" class="search-popup">
                                <button type="submit" class="btn search-btn"><i class="fa fa-search"
                                        aria-hidden="true"></i></button>
                            </form>
                        </div>
                        <!-- //search button -->
                    </ul>
                </div>
                <!-- //search button -->
                <!-- toggle switch for light and dark theme -->
                <div class="cont-ser-position">
                    <nav class="navigation">
                        <div class="theme-switch-wrapper">
                            <label class="theme-switch" for="checkbox">
                                <input type="checkbox" id="checkbox">
                                <div class="mode-container">
                                    <i class="gg-sun"></i>
                                    <i class="gg-moon"></i>
                                </div>
                            </label>
                        </div>
                    </nav>
                </div>
                <!-- //toggle switch for light and dark theme -->
            </nav>
        </div>
    </header>
    <!--//header-->
   
	{% block content %}

	{% endblock %}
  <!-- footer -->
  <footer class="w3l-footer-29-main">
    <div class="footer-29 py-5">
        <div class="container py-lg-4">
            <div class="row footer-top-29">
                <div class="col-lg-9">
                    <div class="row">
                        <div class="col-md-3 col-6 footer-list-29">
                            <ul>
                                <h6 class="footer-title-29">Company</h6>
                                <li><a href="services.html">About Our Services</a></li>
                                <li><a href="#projects">Our Projects</a></li>
                                <li><a href="#blog">View Our Blog</a></li>
                                <li><a href="about.html">Check Our Careers</a></li>
                            </ul>
                        </div>
                        <div class="col-md-3 col-6 footer-list-29">
                            <ul>
                                <h6 class="footer-title-29">Quick Links</h6>
                                <li><a href="#management">Management</a></li>
                                <li><a href="services.html">Department Services</a></li>
                                <li><a href="#appointment">Make Appointment</a></li>
                                <li><a href="about.html">Our Business Growth</a></li>
                            </ul>
                        </div>
                        <div class="col-md-3 col-6 footer-list-29 mt-md-0 mt-4">
                            <ul>
                                <h6 class="footer-title-29">Support</h6>
                                <li><a href="#live">Live Chart</a></li>
                                <li><a href="#faq">Faq's</a></li>
                                <li><a href="#support"> Support</a></li>
                                <li><a href="#terms">Terms of Service</a></li>
                            </ul>
                        </div>
                        <div class="col-md-3 col-6 footer-list-29 mt-md-0 mt-4">
                            <h6 class="footer-title-29">More Info</h6>
                            <ul>
                                <li><a href="#privacy">Privacy Policy</a></li>
                                <li><a href="#terms"> Terms of Service</a></li>
                                <li><a href="contact.html">Contact us</a></li>
                                <li><a href="#support"> Support</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 footer-contact-list mt-lg-0 mt-md-5 mt-4">
                    <h6 class="footer-title-29">Social Media</h6>
                    <div class="main-social-footer-29">
                        <a href="#facebook" class="facebook"><i class="fab fa-facebook-f"></i></a>
                        <a href="#twitter" class="twitter"><i class="fab fa-twitter"></i></a>
                        <a href="#google"><i class="fab fa-google-plus-g"></i></a>
                        <a href="#instagram" class="instagram"><i class="fab fa-instagram"></i></a>
                    </div>
                    <!-- copyright -->
                    <p class="copy-footer-29 mt-4">© 2021 Marketplace. All rights reserved. Design by <a
                            href="https://w3layouts.com/" target="_blank">
                            W3Layouts</a></p>
                </div>
            </div>
        </div>
    </div>
</footer>
<script src="/static/js/jquery-3.3.1.min.js"></script>
<script src="/static/js/theme-change.js"></script>
<script src="/static/js/owl.carousel.js"></script>
<script src="/static/js/counter.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script src="/static/js/jquery.magnific-popup.min.js"></script>

<script>
   
</script>
<!-- //footer -->
</body>
</html>
